aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1689805268944/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1660544713664/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
aiosqlite==0.17.0
alembic==1.11.2
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1650283665894/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1685597160053/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1693488585952/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1695386808436/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1694046349000/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1690563019058/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1687887274243/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1641909357516/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
billiard @ file:///Users/runner/miniforge3/conda-bld/billiard_1686806540105/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blinker==1.6.2
blis @ file:///Users/runner/miniforge3/conda-bld/cython-blis_1691484286595/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1677499911949/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1693583518054/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
catalogue @ file:///Users/runner/miniforge3/conda-bld/catalogue_1695626443928/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1693939987800/work
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1695367155762/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click==8.1.6
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1642673782881/work
click-plugins==1.1.1
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
cloudpickle==2.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1694556137489/work
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1691048088238/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1691009212940/work
confection @ file:///Users/runner/miniforge3/conda-bld/confection_1694432171784/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1674244895923/work
contourpy==1.1.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1695163917881/work
cycler==0.11.0
cymem @ file:///Users/runner/miniforge3/conda-bld/cymem_1695443580499/work
databricks-cli==0.17.7
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1695534362840/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1627027576828/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1693471346238/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1675116244235/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1691598144738/work
docker==6.1.3
docker-pycreds==0.4.0
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1684714143796/work
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1693666711878/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1695093940740/work
dvc-data @ file:///home/conda/feedstock_root/build_artifacts/dvc-data_1695281401546/work
dvc-http @ file:///home/conda/feedstock_root/build_artifacts/dvc-http_1677791630838/work
dvc-objects @ file:///home/conda/feedstock_root/build_artifacts/dvc-objects_1692610122931/work
dvc-render @ file:///home/conda/feedstock_root/build_artifacts/dvc-render_1694748975186/work
dvc-studio-client @ file:///home/conda/feedstock_root/build_artifacts/dvc-studio-client_1693584038508/work
dvc-task @ file:///home/conda/feedstock_root/build_artifacts/dvc-task_1687266078011/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastapi==0.101.0
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1690055433477/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1694629184119/work
flake8==6.1.0
Flask==2.3.2
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1661682505165/work
fonttools==4.42.0
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1695377807068/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1695417469930/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1680003215408/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython==3.1.32
grandalf @ file:///home/conda/feedstock_root/build_artifacts/grandalf_1632832336053/work
gssapi @ file:///Users/runner/miniforge3/conda-bld/python-gssapi_1689212427055/work
gunicorn==20.1.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1694194101801/work
huggingface-hub==0.17.3
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1677543700389/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1695414790617/work
iniconfig==2.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1693880377119/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1693580003080/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1694607144474/work
iso8601==1.1.0
isodate==0.6.1
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
iterative-telemetry @ file:///home/conda/feedstock_root/build_artifacts/iterative-telemetry_1679018892732/work
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1688248289187/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1695397382064/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1695228989494/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1670249684111/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1678118109161/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1691505939576/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1685453365113/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1693317508789/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1686775679566/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1693487358826/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1673491454549/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1694728214446/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1694598704522/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1694531968623/work
kiwisolver==1.4.4
kombu @ file:///Users/runner/miniforge3/conda-bld/kombu_1695559189962/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1689261499435/work/libmambapy
Mako==1.2.4
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1689261499435/work/mamba
Markdown==3.4.4
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1695367646585/work
matplotlib==3.7.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mccabe==0.7.0
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
meteomatics==2.10.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1692116650819/work
mlflow==2.5.0
motor==3.3.1
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1672339514000/work
murmurhash @ file:///Users/runner/miniforge3/conda-bld/murmurhash_1695449903748/work
nanotime==0.5.2
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1684790896106/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1693331710275/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1690814868471/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1672696305909/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1695214488430/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numpy==1.25.2
oauthlib==3.2.2
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1694141203524/work/target/wheels/orjson-3.9.6-cp310-cp310-macosx_11_0_arm64.whl#sha256=67eabe7239975e9ba4ac61697360460cc1062cf7abd0b54b731add2e4db338bf
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1691338815398/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==2.0.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathlib2 @ file:///Users/runner/miniforge3/conda-bld/pathlib2_1695464143230/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1690597952537/work
pathtools==0.1.2
pathy @ file:///home/conda/feedstock_root/build_artifacts/pathy_1687286298811/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.0.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
preshed @ file:///Users/runner/miniforge3/conda-bld/preshed_1695645021215/work
prettytable==3.9.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1689032443210/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
protobuf==4.24.0
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1695367212704/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==12.0.1
pycodestyle==2.11.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1695545836281/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1689770207113/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1689286515608/work
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1695469167713/work
pyflakes==3.1.0
pygit2 @ file:///Users/runner/miniforge3/conda-bld/pygit2_1695591443189/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1658067487470/work
PyJWT==2.8.0
pymongo @ file:///Users/runner/miniforge3/conda-bld/pymongo_1695550399562/work
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1695387569686/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1695448760944/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing==3.0.9
pypika-tortoise==0.1.6
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-mock==3.12.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==1.0.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373498369/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1695384431566/work
querystring-parser==1.2.4
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1695377601875/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1694974539951/work/dist
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1694631211964/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1686993977949/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412881259/work
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.1
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1692708237440/work
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1682601407921/work
sentry-sdk==1.29.2
setproctitle==1.3.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1692272038226/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1668713357889/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1690637101841/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1691593623098/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
SQLAlchemy==2.0.19
sqlparse==0.4.4
sqltrie @ file:///home/conda/feedstock_root/build_artifacts/sqltrie_1687049962542/work
srsly @ file:///Users/runner/miniforge3/conda-bld/srsly_1695654012378/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.27.0
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
termcolor==2.3.0
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
thinc @ file:///Users/runner/miniforge3/conda-bld/thinc_1691757883313/work
threadpoolctl==3.2.0
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
tokenizers==0.13.3
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1690472772788/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1695373625840/work
tortoise-orm==0.20.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1694710374095/work
transformers==4.33.2
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1683029246636/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3==1.26.16
uvicorn==0.23.2
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1604930048994/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1649362300787/work
wandb==0.15.8
wasabi @ file:///Users/runner/miniforge3/conda-bld/wasabi_1686131568298/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1694440396544/work
Werkzeug==2.3.6
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1694598693908/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1685191847849/work
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1678092336663/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zstandard==0.21.0
